.user-info-area {
	display: flex;
	display: -webkit-box;
	-webkit-box-align: center;
	align-items: center;
	padding: 1.6rem 2rem 2.2rem 2.1rem;
}
.user-info-area .user-thumb {
	position: relative;
}
.user-info-area .user-thumb::before{
	content: '';
	display: none;
	position: absolute;
	bottom: -.3rem;
	right: -.3rem;
	z-index: 1;
	width: 2.8rem;
	height: 2.8rem;
	background: url(../images/ico_pencil_81X81.png) 50% 50% / 100% auto no-repeat;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -ms-optimize-contrast;
}
.user-info-area .user-thumb.active::before {
	display: block;
}
.user-info-area .user-thumb + .user-desc {
	margin-left: 1rem;
}

.user-info-area .thumb-hexagon {
	flex: 0 0 auto;
	width: 6.3rem;
	height: 6.3rem;
}
.user-info-area .user-desc {
	flex: 1 1 auto;
	font-size: 1.5rem;
}
.user-info-area .user-desc .user-tit {
	display: none;
	font-weight: 800;
	color: #3B3B4D;
}
.user-info-area .user-desc .btn-login{
	display: block;
	padding: 1rem 1rem 1rem 0;
	font-weight: 800;
	color: #3B3B4D;
}
.user-info-area .user-desc .btn-user-modify {
	display: none;
	margin-top: .8rem;
	font-weight: 400;
	font-size: 1.1rem;
	color: #A0A0B6;
}
.user-info-area.login .btn-login {
	display: none;
}
.user-info-area.login .user-tit,
.user-info-area.login .btn-user-modify{
	display: block;
}

.myhome-lists li + li {
	border-top: 1px solid #E5E5E5;
}
.myhome-lists li.line {
	border-top: .6rem solid #ECECF6;
}
.myhome-lists li.none {
	border: none;
}
.myhome-lists li a {
	display: block;
	position: relative;
	min-height: 6.2rem;
	padding: 2.5rem 5rem 2.4rem 2.6rem;
	font-weight: 700;
	font-size: 1.3rem;
}
.myhome-lists li a span {
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.myhome-lists li a::before {
	content: '';
	position: absolute;
  top: 50%;
  right: 3.1rem;
  width: .9rem;
  height: .9rem;
  margin-top: -.45rem;
  border: solid #a9a9a9;
  border-width: 1px 1px 0 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.myhome-lists li p {
	padding: 2.4rem 2.5rem .9rem;
	font-weight: 300;
	font-size: 1.3rem;
	line-height: 1.2;
}

nav {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 5;
	bottom: -6rem;
	background-color: #fff;
	box-shadow: 0 -.5rem .6rem rgba(250, 250, 250, 0.75);
	transition: bottom 0.2s ease-in-out;
}
nav.active {
  bottom: calc(constant(safe-area-inset-bottom) + 0px);
  bottom: calc(env(safe-area-inset-bottom) + 0px);
}
nav .inner-col {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-box-align: center;
	-webkit-box-align: center;
	align-items: center;
}
nav a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 6rem;
}
nav a .nav-txt {
	display: inline-block;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	overflow: hidden;
	font-weight: 400;
	font-size: 1rem;
	color: #B7B7C8;
	text-align: center;
	white-space: nowrap;
}
nav a .nav-txt::before {
	content: '';
	display: block;
	width: 1.8rem;
	height: 1.8rem;
	margin: 0 auto .6rem;
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: 100% auto;
}
nav a .nav-txt.home::before {
	content: '';
	background-image: url(../images/ico_home_54x54g.png);
}
nav a .nav-txt.ad::before {
	background-image: url(../images/ico_youtube_54x54g.png);
}
nav a .nav-txt.ranking::before {
	background-image: url(../images/ico_ranking_54x54g.png);
}
nav a .nav-txt.my::before {
	background-image: url(../images/ico_my_54x54g.png);
}
nav a.active .nav-txt {
	font-weight: 700;
	color: #000;
}
nav a.active .nav-txt.home::before {
	background-image: url(../images/ico_home_54x54b.png);
}
nav a.active .nav-txt.ad::before {
	background-image: url(../images/ico_youtube_54x54b.png);
}
nav a.active .nav-txt.ranking::before {
	background-image: url(../images/ico_ranking_54x54b.png);
}
nav a.active .nav-txt.my::before {
	background-image: url(../images/ico_my_54x54b.png);
}

.advertise-col .inner-col{
	padding: 5.7rem 2.5rem;
}
.advertise-col .tit-area {
	text-align: left;
}
.advertise-col .tit-area strong {
	display: block;
	font-weight: 400;
	font-size: 2.4rem;
	line-height: 1.35;
}
.advertise-col .tit-area p {
	margin-top: 1.3rem;
	font-weight: 300;
	font-size: 1.2rem;
	color: #3B3B4D;
	letter-spacing: 0.02rem;
}
.advertise-col .btn.guide span::before {
	content: '';
	display: inline-block;
	width: 1.6rem;
	height: 1.6rem;
	margin: -0.05rem .5rem 0 0;
	vertical-align: top;
	background-image: url(../images/ico_question_47x47.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% auto;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -ms-optimize-contrast;
}
.advertise-col .btn.download span::before {
	content: '';
	display: inline-block;
	width: 1.4rem;
	height: 1.4rem;
	margin: -0.05rem .5rem 0 0;
	vertical-align: top;
	background-image: url(../images/ico_down_43x43w.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% auto;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -ms-optimize-contrast;
}
.advertise-col .step-col {
	position: relative;
	margin: 5.6rem .6rem 0;
}
.step-lists {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-box-align: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify; 
	-ms-flex-pack: justify; 
	justify-content: space-between;
	position: relative;
	text-align: center;
}
.step-col::before {
	content: '';
	position: absolute;
	top: 13%;
	height: 1px;
	width: 100%;
	background-color: #DFDFEA;
}
.step-lists li {
	position: relative;
	z-index: 1;
}
.step-lists li i {
	display: inline-block;
	position: relative;
	width: 1rem;
	height: 1rem;
	background-color: #fff;
	border: 1px solid #CFCFDA;
	border-radius: 50%;
}
.step-lists li i::before {
	display: none;
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2.2rem;
	height: 2.2rem;
	margin-top: -1.1rem;
	margin-left: -1.1rem;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: #3B3B4D;
	border-radius: inherit;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -ms-optimize-contrast;
}
.step-lists li i.active::before {
	display: block;
}
.step-lists li i.ico-waiting::before {
	background-image: url(../images/ico_waiting.png);
	background-size: auto 1.2rem;
}
.step-lists li i.ico-video::before {
	background-image: url(../images/ico_video.png);
	background-size: auto .86rem;
}
.step-lists li i.ico-checking::before {
	background-image: url(../images/ico_checking.png);
	background-size: auto 1rem;
}
.step-lists li i.ico-advertise::before {
	background-image: url(../images/ico_advertise.png);
	background-size: auto .86rem;
}
.step-lists li i.reject::before{
	display: block;
	background-image: url(../images/ico_x_24x23w.png);
	background-size: auto .8rem;
	background-color: #FF5647;
}
.step-lists li i.complete{
	background-image: url(../images/ico_checked.png);
	background-size: auto 1rem;
	border: none;
}
.step-lists li:first-child {
	text-align: left;
}
.step-lists li:first-child i::before {
	left: -1px;
	margin-left: 0;
}
.step-lists li:last-child {
	text-align: right;
}
.step-lists li:last-child i::before {
	left: auto;
	right: -1px;
	margin-left: 0;
}
.step-lists li span {
	display: block;
	margin-top: .6rem;
}
.advertise-col .comment {
	margin-top: 5.5rem;
	padding: 2rem 3.5rem 2rem 1.5rem;
	border: 1px solid #CFCFDA;
}
.advertise-col .comment pre {
	font-weight: 400;
	font-size: 1.1rem;
	line-height: 1.45;
	white-space: pre-wrap;
	word-break: break-word;
}

.advertise-reason-col .inner-col {
	padding: 2.8rem 2.5rem 3rem 2.4rem;
	border-top: 1px solid #DFDFEA;
}
.advertise-reason-col .reason-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-box-align: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify; 
	-ms-flex-pack: justify; 
	justify-content: space-between;
	text-align: center;
}
.advertise-reason-col .reason-title strong {
	font-weight: 400;
	font-size: 1.3rem;
	color: #3B3B4D;
}
.advertise-reason-col .reason-title button {
	padding: .4rem 1rem .2rem;
	border: 1px solid #CFCFDA;
	border-radius: 9.9rem;
}
.advertise-reason-col .reason-title button span {
	position: relative;
	font-weight: 700;
	font-size: 1.2rem;
	color: #717188;
}
.advertise-reason-col ul {
	margin-top: 1rem;
}
.advertise-reason-col ul li {
	position: relative;
	padding-left: 1rem;
	font-weight: 400;
	font-size: 1.2rem;
	color: #A0A0B6;
	line-height: 1.7;
}
.advertise-reason-col ul li::before {
	content: '*';
	position: absolute;
	left: 0;
	top: .2rem;
}
.advertise-reason-col ul li + li {
	margin-top: 0.3rem;
}

.advertise-input-col input {
	display: block;
	width: 100%;
	padding: 2.9rem 2.6rem;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.3;
	box-shadow: .1rem .1rem .7rem 0px rgba(0, 0, 0, 0.17);
}
.advertise-btn-col .btn {
	padding: 2.3rem 4rem 1.9rem;
	font-size: 1.4rem;
}

@media screen and (min-width: 720px){
  nav {
    bottom: 0;
  }
	.advertise-input-col .inner-col{
		padding: 0 1.6rem;
	}
	.advertise-btn-col {
		margin-top: 1.7rem;
	}
}