.youtube-list-col .list-box{width:100%; background-color:#fff;}
.youtube-list-col .list-box ul li{display:-webkit-box; display:flex; -webkit-box-align:center; align-items:center; width:100%; padding:1.25rem 2.1rem; border-bottom:1px solid #ececf6;}
.youtube-list-col .list-box .thumb-hexagon{flex:0 0 auto; width:5.3rem; height:5.3rem;}
.youtube-list-col .list-box .friend-name{flex:1; margin-left:1rem; padding-right:2em; font-weight:700; font-size:1.3rem;}
.youtube-list-col .list-box .friend-count{flex:0 0 auto; font-size:1.2rem; color:#a0a0b6;}
.youtube-list-col .list-box .btn-more{padding:0; border:none;}

.user-info-col .thumb-flex-form{padding:1rem 2rem 2.2rem 2.1rem;}
.user-info-col .thumb-flex-form .thumb-item{width:6.3rem; height:6.3rem;}
.user-info-col .thumb-flex-form .thumb-info strong{color:#3B3B4D;}
.myhome-lists li + li{border-top:1px solid #E5E5E5;}
.myhome-lists li.line{border-top:.6rem solid #ECECF6;}
.myhome-lists li.none{border:none;}
.myhome-lists li a{display:block; position:relative; min-height:6.2rem; padding:2.5rem 5rem 2.4rem 2.6rem; font-weight:700; font-size:1.3rem;}
.myhome-lists li a span{display:block; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.myhome-lists li a::before{content:''; position:absolute; top:50%; right:3.1rem; width:.9rem; height:.9rem; margin-top:-.45rem; border:solid #a9a9a9; border-width:1px 1px 0 0; -webkit-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg);}
.myhome-lists li p{padding:2.4rem 2.5rem .9rem; font-weight:300; font-size:1.3rem; line-height:1.2;}

.slide-col h3{max-width:750px; margin:0 auto 2.2rem;}
.main h3{max-width:750px; margin-bottom:2.2rem; padding:0 2.2rem 0 2.2rem; font-weight:800; font-size:1.8rem;}
.main h3 > span{color:#ffb914;}
.main .slide-box{padding:0 2.2rem;}
.main .advertise-recommend-col .swiper-slide:last-child, .main .ranking-col .swiper-slide:last-child{margin-right:2.2rem;}

.main-bnr-slide .swiper-pagination{left:auto; right:2rem; width:4.6rem; padding:.6rem 0; font-size:1.1rem; color:#c8c8d4; background-color:rgba(0, 0, 0, .3); border-radius:1.5rem;}
.main-bnr-slide .swiper-pagination .swiper-pagination-current{color:#fff;}
.main-bnr-slide a{display:block;}

.advertise-recommend-col{padding:4.8rem 0 4.2rem; border-bottom:.6em solid #f7f7fc;}
.advertise-recommend-col .slide-box{padding-right:0;}
.advertise-slide .swiper-slide{width:14.6rem;}
.advertise-slide .swiper-slide a{display:block;}
.advertise-slide dl dt{position:relative; width:100%; min-height:14rem; background-repeat:no-repeat; background-position:50% 50%; background-size:auto 100%;}
.advertise-slide dl dd{margin-top:1.3rem;}
.advertise-slide dd p:first-child{height:1.2rem; text-overflow:ellipsis; overflow:hidden;}
.advertise-slide dd p:nth-child(2){display:-webkit-box; margin:.7rem 0 1rem; height:3.2rem; text-overflow:ellipsis; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden;}
.advertise-slide dd em{font-size:1.1rem; color:#717188; line-height:1.1}
.advertise-slide dd em.time-box:before{content:''; display:inline-block; width:1.1rem; height:1.1rem; margin-right:.3rem; background:url(../images/ico_clock_33x33.png) no-repeat 50% 0 / 100%; vertical-align:top;}
.advertise-slide dd span{font-size:1.2rem; line-height:1.4;}
.advertise-slide dd strong{font-weight:800; font-size:1.5rem;}
.advertise-slide dd strong:after{content:'원';}
.advertise-slide dd strong.ucd:after{content:'UCD';}
.advertise-slide dt button{position:absolute; right:0; bottom:0; width:2.3rem; height:2rem; background:url(../images/ico_heart_48x39.png) no-repeat 0 0 / 1.6rem auto; text-indent:-999rem;}
.advertise-slide dt button.active{background-image: url(../images/ico_heart_51x42red.png);}

.accumulated-price-col{width:100%; border-bottom:.6em solid #f7f7fc;}
.accumulated-price-col .inner-col{padding:4.2rem 2.2rem;}
.accumulated-price-col p{font-weight:700; font-size:1.6rem;}
.accumulated-price-col p > span{color:#ff5647;}
.accumulated-price-col p.price-box{margin-top:1rem; font-size:2.2rem;}
.accumulated-price-col p.price-box > strong{font-size:3rem;}

.ranking-col{padding:4.4rem 0 0;}
.ranking-col h3{margin-bottom:0;}
.ranking-col .ranking-slide{padding-top:2.2rem;}
.ranking-col .slide-box{padding-right:0;}
.ranking-slide .swiper-slide{width:8.2rem;}
.ranking-slide dl{width:100%; height:100%; color:#000;}
.ranking-slide dl dt{position:relative; width:100%; height:8.2rem; font-weight:700; font-size:1.6rem; background-color:#D5E1E8; background-repeat:no-repeat; background-position:50% 50%; background-size:auto 100%; border-radius:50%;}
.ranking-slide dl dt .ranking{position:absolute; top:0; right:-.3rem; width:2.4rem; height:2.4rem; font-weight:800; font-size:1.4rem; line-height:1.8; color:#fff; background-color:#ffb914; border-radius:50%; text-align:center;}
.ranking-slide dl dd{margin-top:1.9rem; font-size:1.2rem; text-align:center;}

.youtuber-col{padding:6.4rem 0 5rem;}
.youtuber-col .slide-box{padding:0;}
.youtuber-col .swiper-slide{width:87%;}
.youtuber-col .youtube-thumb img{width:100%; border-radius:.7rem;}
.youtuber-col .thumb-flex-form{display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-align:center; align-items:center; padding:1.7rem 1rem 2.4rem 0;}
.youtuber-col .thumb-flex-form .thumb-hexagon{width:4.4rem; height:4.4rem;}
.youtuber-col .thumb-flex-form .thumb-info{flex:1 1 auto; margin-left:.5rem; max-width:calc(100% - 5rem); line-height:1.5;}
.youtuber-col .thumb-flex-form .thumb-info > strong{display:block; font-weight:700; font-size:1.4rem; color:#000}
.youtuber-col .thumb-flex-form .thumb-info > p{font-weight:300; font-size:1.1rem; color:#717188;}

.faq-col{width:100%; padding:7.9rem 0 4.4rem; background:#f7f7fc url(../images/ico_faq_96x96.png) no-repeat 50% 3.6rem / auto 3.2rem; text-align:center;}
.faq-col p{font-size:1.8rem; color:#3b3b4d;}
.faq-col a{display:block; width:18.4rem; margin:2.1rem auto 0; padding:1.4rem 0; font-size:1.4rem; border:1px solid #3b3b4d; border-radius:9.9rem;}
/* .faq-btn-col .btn{padding:2.1rem 0; font-size:1.4rem;} */

.friend-code-col{width:100%; background-color:#100f0f;}
.friend-code-col a{display:block;}

.profit-col{padding:0 1.5rem 2rem; background-color:#F7F7FC; text-align:center;}
.profit-col .profit-box{background:#FFFFFF; border-radius:.7rem; box-shadow:.1rem .1rem 2.7rem rgba(0, 0, 0, .04);}
.profit-col .profit-box dl{padding:4.6rem 0 3.8rem;}
.profit-col .profit-box dl dt{font-weight:400; font-size:1.4rem; line-height:1.7; color:#A0A0B6;}
.profit-col .profit-box dl dd{margin-top:.6rem; font-weight:400; font-size:2.2rem;}
.profit-col .profit-box dl dd strong{font-weight:700; font-size:3rem; vertical-align:middle;}
.profit-col .profit-box a{display:block; padding:2.3rem 0 2.1rem; font-weight:400; font-size:1.2rem; color:#3B3B4D; border-top:1px solid #DFDFEA;}
.ranking-list-col .ranking-tit{display:-webkit-box; display:-ms-flexbox; display:flex; -ms-box-align:center; -webkit-box-align:center; align-items:center; -webkit-box-pack:justify; -ms-flex-pack:justify; justify-content:space-between; text-align:center; padding:3rem 1rem 0 2rem;}
.ranking-list-col .ranking-tit strong{font-weight:800; font-size:1.5rem;}
.ranking-list-col .ranking-tit a{padding:1rem; font-weight:400; font-size:1.1rem; color:#717188;}
.ranking-highest-list{padding:2.2rem 3.3rem 4rem;}
.ranking-highest-list ol{display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-align:end; -ms-flex-align:end; align-items:flex-end; -webkit-box-pack:justify; -ms-flex-pack:justify; justify-content:space-between; position:relative; text-align:center;}
.ranking-highest-list ol li{flex:1 0 30%; text-align:center; overflow:hidden;}
.ranking-highest-list ol li:nth-child(1){flex:1 0 35%; order:2;}
.ranking-highest-list ol li:nth-child(2){order:1;}
.ranking-highest-list ol li:nth-child(3){order:3;}
.ranking-highest-list ol li:nth-child(1) .thumb-item{width:10.5rem; height:10.5rem;}
.ranking-highest-list ol li .thumb-item::before{position:absolute; top:0; right:1rem; z-index:1; width:2.2rem; height:2.2rem; font-weight:700; font-size:1.4rem; line-height:2.2rem; color:#fff; background-color:#FFB914; border-radius:50%;}
.ranking-highest-list ol li:nth-child(1) .thumb-item::before{content:'1'; width:2.8rem; height:2.8rem; font-size:1.5rem; line-height:2.8rem;}
.ranking-highest-list ol li:nth-child(2) .thumb-item::before{content:'2';}
.ranking-highest-list ol li:nth-child(3) .thumb-item::before{content:'3';}
.ranking-highest-list .thumb-item{display:inline-block; position:relative; width:8.1rem; height:8.1rem;}
.ranking-highest-list .thumb-info{margin-top:.5rem; overflow:hidden;}
.ranking-highest-list .thumb-info strong{display:block; font-weight:700; font-size:1.2rem;}
.ranking-highest-list .thumb-info p{margin-top:.6rem; font-weight:400; font-size:1.1rem; color:#A0A0B6;}
.profit-lists{border-top:.1rem solid #ECECF6;}
.profit-lists .thumb-flex-form{padding:1.2rem 2rem 1.4rem;}
.profit-lists li + li{border-top:.1rem solid #ECECF6;}
.profit-lists li.sm .thumb-flex-form{padding:1.5rem 2rem 1.6rem 1rem;}
.profit-lists li.sm .thumb-num{font-size:1rem;}
.profit-lists .thumb-item{width:4.7rem; height:4.7rem;}
.profit-lists .thumb-item .thumb-img{display:block; width:100%; height:100%; background-color:#D5E1E8; background-repeat:no-repeat; background-position:50% 50%; background-size:100%; border-radius:50%;}
.profit-lists .thumb-info strong{font-weight:700; font-size:1.2rem;}
.profit-lists .thumb-info p{margin-top:.5rem; font-size:1.1rem; color:#A0A0B6;}
.my-ranking-col{border-bottom:.6rem solid #f7f7fc;}
.my-ranking-col .profit-lists{border-top:none;}
.my-ranking-col .profit-lists .thumb-flex-form{padding:1.5rem 2rem;}

.my-revenue-col{width:100%; padding:4.7rem 0; text-align:center;}
.my-revenue-col p{display:inline-block; position:relative; padding:0 .3rem; font-weight:700; font-size:1.2rem; line-height:1.6; color:#717188;}
.my-revenue-col p:after{content:''; position:absolute; right:0; bottom:.7rem; left:0; width:0; height:.5rem; margin:0; background-color:#ffd361; border-radius:1rem;}
.my-revenue-col p.active:after{width:100%;transition:.5s;}
.my-revenue-col p > strong{display:block !important; position:relative; font-size:2.8rem; color:#000; z-index:1;}
.my-revenue-col p .odometer-inside{display:inline-block;}
.my-revenue-col p > strong:after{content:'원'; display:inline-block; font-weight:400; font-size:1.4rem;}
.my-advertise-col{background-color:#f7f7fc;}
.my-advertise-col .advertise-box{width:100%; padding:3rem 1.5rem;}
.my-advertise-col .advertise-box h3{margin:4rem 0 1.5rem; font-weight:700; font-size:1.5rem;}
.my-advertise-col .advertise-box ul li{width:100%; background-color:#fff;}
.my-advertise-col .advertise-box ul li a{display:flex; align-items:start; padding:1.9rem 1.4rem;}
.advertise-box ul li + li{margin-top:1rem;}
.advertise-box .advertise-thumb{flex:0 0 auto; width:6.2rem; height:6.2rem; background-color:#fff; background-repeat:no-repeat; background-position:50% 50%; background-size:auto 100%; vertical-align:middle;}
.advertise-box .advertise-thumb img{width:100%;}
.advertise-box .advertise-desc-box{flex:1; margin:0 1.2rem; font-size:1.1rem; vertical-align:middle; overflow:hidden;}
.advertise-box .advertise-desc-box .advertise-title{margin-bottom:1.1rem; font-weight:300; font-size:1.3rem; line-height:1.6;}
.advertise-box .advertise-desc-box .advertise-title > strong{display:block; font-weight:700;}
.advertise-box .advertise-date{font-weight:300; color:#717188; vertical-align:top;}
.advertise-box .advertise-comment{display:inline-block; position:relative; width:75%; margin-left:.4rem; padding-left:.7rem; font-weight:300; color:#3b3b4d; vertical-align:top;}
.advertise-box .advertise-comment:before{content:''; position:absolute; top:0; left:0; bottom:0; width:.1rem; height:.9rem; margin:auto; background-color:#ececf6;}
.advertise-box .advertise-comment.info{padding-left:2rem; background:url(../images/ico_info_30x30.png) no-repeat .8rem 50% / .9rem;}
.advertise-box .advertise-state{flex:0 1 auto; margin-top:5.1rem; font-weight:700; font-size:1.1rem; color:#000; text-align:right;}
.advertise-box ul.my-onair .advertise-state.ico-onair{display:block; width:4.4rem; padding:.2rem 0; font-weight:700; font-size:1.1rem; color:#fff; background-color:#ff5647; border-radius:.5rem; text-transform:capitalize; text-align:center;}
.advertise-box ul.my-like .advertise-title + p{display:none;}
.advertise-box ul.my-like .advertise-state{color:#ff5647;}
.advertise-box ul li .advertise-comment{display:none;}
.advertise-box ul li.notice .advertise-comment{display:inline-block;}
.advertise-box ul li.notice .advertise-state{color:#ff5647;}

.advertise-col .inner-col{padding:5.7rem 2.5rem;}
.advertise-col .tit-area{text-align:left;}
.advertise-col .tit-area strong{display:block; font-weight:400; font-size:2.4rem; line-height:1.35;}
.advertise-col .tit-area p{margin-top:1.3rem; font-weight:300; font-size:1.2rem; color:#3B3B4D; letter-spacing:.02rem;}
.advertise-col .btn.guide span::before{content:''; display:inline-block; width:1.6rem; height:1.6rem; margin:-.05rem .5rem 0 0; vertical-align:top; background:url(../images/ico_question_47x47.png) no-repeat 50% 50% / 100% auto; image-rendering:-webkit-optimize-contrast; image-rendering:-ms-optimize-contrast;}
.advertise-col .btn.download span::before{content:''; display:inline-block; width:1.4rem; height:1.4rem; margin:-.05rem .5rem 0 0; vertical-align:top; background:url(../images/ico_down_43x43w.png) no-repeat 50% 50% / 100% auto; image-rendering:-webkit-optimize-contrast; image-rendering:-ms-optimize-contrast;}
.advertise-col .step-col{position:relative; margin:4.8rem .6rem 0;}
.step-lists{display:-webkit-box; display:-ms-flexbox; display:flex; -ms-box-align:center; -webkit-box-align:center; align-items:center; -webkit-box-pack:justify; -ms-flex-pack:justify; justify-content:space-between; position:relative; text-align:center; min-height:4.3rem;}
.step-col::before{content:''; position:absolute; top:50%; width:100%; height:1px; margin-top:-.8rem; background-color:#DFDFEA;}
_:-ms-fullscreen,:root .step-col::before{margin-top:-1.1rem;}
.step-lists li{position:relative; z-index:1;}
.step-lists li .ico-item{display:-webkit-box; display:-ms-flexbox; display:flex; -ms-box-align:center; -webkit-box-align:center; align-items:center; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; width:2.2rem; height:2.2rem; margin:auto;}
.step-lists li:first-child .ico-item{-webkit-box-pack:start; -ms-flex-pack:start; justify-content:flex-start; margin:0 auto 0 0;}
.step-lists li:last-child .ico-item{-webkit-box-pack:end; -ms-flex-pack:end; justify-content:flex-end; margin:0 0 0 auto;}
.step-lists li i{display:inline-block; position:relative; width:1rem; height:1rem; background-color:#fff; border:1px solid #CFCFDA; border-radius:50%;}
.step-lists li i::before{display:none; content:''; width:100%; height:100%; background-position:50% 50%; background-repeat:no-repeat; border-radius:inherit; image-rendering:-webkit-optimize-contrast; image-rendering:-ms-optimize-contrast;}
.step-lists li i.active{width:2.2rem; height:2.2rem; background-color:#3B3B4D; border:none;}
.step-lists li i.active::before{display:block; -webkit-animation:effect-opacity 1s infinite linear alternate; -moz-animation:effect-opacity 1s infinite linear alternate; animation:effect-opacity 1s infinite linear alternate;}
.step-lists li i.ico-waiting::before{background-image:url(../images/ico_waiting.png); background-size:auto 1.2rem;}
.step-lists li i.ico-video::before{background-image:url(../images/ico_video.png); background-size:auto .86rem;}
.step-lists li i.ico-checking::before{background-image:url(../images/ico_checking.png); background-size:auto 1rem;}
.step-lists li i.ico-advertise::before{background-image:url(../images/ico_advertise.png); background-size:auto .86rem;}
.step-lists li i.reject{width:2.2rem; height:2.2rem; background-color:#FF5647; border:none;}
.step-lists li i.reject::before{display:block; background-image:url(../images/ico_x_24x23w.png); background-size:auto .8rem;}
.step-lists li i.complete{background-image:url(../images/ico_checked.png); background-size:auto 1rem; border:none;}
.step-lists li .ico-item + span{display:block; margin-top:.3rem;}
.advertise-col .comment{margin-top:5rem; padding:2rem 3.5rem 2rem 1.5rem; border:1px solid #CFCFDA;}
.advertise-col .comment pre{font-weight:400; font-size:1.1rem; line-height:1.45; white-space:pre-wrap; word-break:break-word;}
.advertise-reason-col .inner-col{padding:2.8rem 2.5rem 3rem 2.4rem; border-top:1px solid #DFDFEA;}
.advertise-reason-col .reason-title{display:-webkit-box; display:-ms-flexbox; display:flex; -ms-box-align:center; -webkit-box-align:center; align-items:center; -webkit-box-pack:justify; -ms-flex-pack:justify; justify-content:space-between; text-align:center;}
.advertise-reason-col .reason-title strong{font-weight:400; font-size:1.3rem; color:#3B3B4D;}
.advertise-reason-col .reason-title button{padding:.4rem 1rem .2rem; border:1px solid #CFCFDA; border-radius:9.9rem;}
.advertise-reason-col .reason-title button span{position:relative; font-weight:700; font-size:1.2rem; color:#717188;}
.advertise-reason-col ul{margin-top:1rem;}
.advertise-reason-col ul li{position:relative; padding-left:1rem; font-weight:400; font-size:1.2rem; color:#A0A0B6; line-height:1.7;}
.advertise-reason-col ul li::before{content:'*'; position:absolute; left:0; top:.2rem;}
.advertise-reason-col ul li + li{margin-top:.3rem;}
.advertise-input-col input{display:block; width:100%; padding:2.9rem 2.6rem; font-weight:400; font-size:1.6rem; line-height:1.3; box-shadow:.1rem .1rem .7rem 0px rgba(0, 0, 0, .17);}
/* .advertise-btn-col .btn{padding:2.3rem 4rem 1.9rem; font-size:1.4rem;} */

.advertise-list{width:90%; margin:0 auto;}
.advertise-list a{display:inline-block; width:48%; margin-bottom:3rem; box-sizing:border-box;}
.advertise-list a:nth-child(odd){margin-right:2%;}
.advertise-list dt{position:relative; min-width:15.4rem; width:100%; min-height:15.4rem; height:100%; background-color:#eee;}
.advertise-list dt img{width:100%; height:100%;}
.advertise-list dd{margin-top:1.8rem;}
.advertise-list dd p:first-child{height:1.2rem; text-overflow:ellipsis; overflow:hidden;}
.advertise-list dd p:nth-child(2){display:-webkit-box; margin:.7rem 0 1rem; height:3.2rem; text-overflow:ellipsis; -webkit-line-clamp:2; -webkit-box-orient:vertical; word-break:keep-all; overflow:hidden;}
.advertise-list dd em{font-size:1.1rem; color:#717188; line-height:1.1;}
.advertise-list dd em.time-box:before{content:''; display:inline-block; width:1.1rem; height:1.1rem; margin-right:.3rem; background:url(../images/ico_clock_33x33.png) no-repeat 50% 0 / 100%; vertical-align:top;}
.advertise-list dd span{font-size:1.4rem;}
.advertise-list dd strong{font-size:1.5rem; font-weight:bold;}
.advertise-list dd strong:after{content:'원';}
.advertise-list dd strong.ucd:after{content:'UCD';}
.advertise-list dt button{position:absolute; right:0; bottom:0; width:2.3rem; height:2rem; background:url(../images/ico_heart_48x39.png) no-repeat 0 0 / 1.6rem; text-indent:-999rem;}
.advertise-list dt button.active{background-image: url(../images/ico_heart_51x42red.png);}


.advertise-menu-col .inner-col{max-width:100%;}
.advertise-menu-col ul{display:-webkit-box; display:flex; -webkit-box-align:center; align-items:center; -webkit-box-pack: justify; justify-content:space-between; padding:0 2.5rem; border-bottom:1px solid #dfdfea;}
.advertise-menu-col ul li{flex:0 0 auto; font-size:1.4rem;}
.advertise-menu-col ul li.active{border-bottom:.2rem solid #fdef52;}
.advertise-menu-col ul li a{display:block; padding:1.7rem .5rem; font-weight:700; color:#a0a0b6;}
.advertise-menu-col ul li.active a{color:#000;}

/* .detail-content-box{padding-bottom:6rem;} */
.detail-content-box .swiper-pagination{left:auto; right:1.4rem; bottom:1.4rem; display:inline-block; width:auto; padding:.7rem 1.1rem .5rem; font-weight:300; font-size:1.2rem; color:#fff; background-color:rgba(0,0,0,.4); border-radius:1.5rem;}
.detail-content-box .swiper-pagination .swiper-pagination-current{font-weight:700;}
.detail-content-box .detail-slide-area{min-height:36rem;}
.detail-content-box .detail-slide-area img{min-height:36rem; object-position:center; object-fit:cover;}
.detail-info-area{padding:2.8rem 2.5rem 2.3rem; background:#fff; border-bottom:.6rem solid #ECECF6;}
.detail-info-area .info-tit{display:block; font-weight:700; font-size:1.8rem;}
.detail-info-area .info-tit + .deadline-area{margin-top:1.2rem;}
.detail-info-area .info-tit + .deadline-area + .price{margin-top:2.4rem;}
.detail-info-area .deadline-area{display:flex; align-items:center;}
.detail-info-area .deadline-area span{display:inline-block; position:relative; font-weight:400; font-size:1.1rem;}
.detail-info-area .deadline-area span + span{padding-left:.8rem; margin-left:.5rem;}
.detail-info-area .deadline-area span + span::before{content:''; position:absolute; top:50%; left:0; width:.1rem; height:.5rem; margin-top:-.25rem; background-color:#E7E7F0;}
.detail-info-area .deadline-area .date{color:#A0A0B6;}
.detail-info-area .deadline-area .date::before{content:''; display:inline-block; width:1rem; height:1rem; margin:.1rem .4rem 0 0; background:url(../images/ico_clock_33x33.png) 50% 50% / 100% auto no-repeat; vertical-align:top;}
.detail-info-area .deadline-area .quantity{color:#FF5647;}
.detail-info-area .deadline-area .quantity b{font-weight:700;}
.detail-info-area .price{display:block; margin-top:1rem; font-weight:700; font-size:2rem;}
.detail-info-area .price b{display:inline-block; font-weight:800; font-size:2.4rem; vertical-align:middle;}
.detail-info-area p{margin-top:1.4rem; font-weight:300; font-size:1.2rem; line-height:1.8; color:#3B3B4D;}
.detail-content-box .noti-col{padding:2.9rem 2.5rem; border-bottom:1px solid #DFDFEA;}
.detail-content-box .noti-col li{position:relative; padding-left:2.2rem; font-weight:400; font-size:1.2rem;}
.detail-content-box .noti-col li::before{content:''; position:absolute; top:50%; left:0; width:1.7rem; height:1.7rem; margin-top:-.9rem; background:url(../images/ico_noti_51x51.png) 50% 50% / 100% auto no-repeat;}
.detail-content-box .noti-col li + li{margin-top:1.3rem;}
.detail-content-box .guide-col{padding:3rem 2.6rem 4.3rem;}
.detail-content-box .guide-col > strong{display:block; font-weight:800; font-size:1.5rem;}
.detail-content-box .guide-col .banner{display:block; margin-top:2rem;}
.guide-lists{margin-top:2.4rem;}
.guide-lists > li + li{margin-top:3.5rem;}
.guide-lists li .num{display:block; font-weight:300; font-size:3rem; color:#FFB914;}
.guide-lists li strong{display:block; margin-top:1.6rem; font-weight:400; font-size:1.5rem;}
.guide-lists li p{margin-top:1.3rem; font-weight:300; font-size:1.2rem; color:#3B3B4D;}
.guide-lists li .btn_move{display:inline-block; margin-top:.3rem; font-size:1.2rem; color:#269CFF; text-decoration:underline;}
.guide-lists .insert-lists{margin-top:.5rem;}
.guide-lists .insert-lists li{position:relative; padding-left:.9rem; font-weight:400; font-size:1.1rem; line-height:1.8; color:#3B3B4D;}
.guide-lists .insert-lists li + li{margin-top:.2rem;}
.guide-lists .insert-lists li::before{content:''; position:absolute; top:50%; left:0; width:.3rem; height:.3rem; margin-top:-.15rem; background-color:#A0A0B6;}
.detail-content-box .guide-col + .detail-info-area{border-top:1px solid #DFDFEA;}
.detail-content-box .notice-col{padding:3rem 2.7rem 4.8rem; border-top:.6rem solid #ECECF6;}
.detail-content-box .notice-col strong{display:block; font-weight:800; font-size:1.5rem;}
.detail-content-box .notice-col .notice-lists{margin-top:2.7rem;}
.detail-content-box .notice-col .notice-lists li{position:relative; padding-left:1rem; font-weight:400; font-size:1.2rem; color:#A0A0B6; line-height:1.65;}
.detail-content-box .notice-col .notice-lists li + li{margin-top:.5rem;}
.detail-content-box .notice-col .notice-lists li::before{content:''; position:absolute; top:.8rem; left:0; width:.3rem; height:.3rem; background-color:#A0A0B6;}
.detail-content-box .guide-col + .detail-info-area + .notice-col{border-top:none;}

.toggle-list-col ul{width:100%;}
.toggle-list-col ul li{font-size:1.4rem; border-bottom:1px solid #e5e5e5;}
.toggle-list-col ul li a{display:block; position:relative; padding:2.5rem 2.5rem 2.5rem 2.5rem;}
.toggle-list-col ul li p{padding-right:3.5rem; line-height:2rem; word-break:keep-all;}
.toggle-list-col ul li a:after{content:''; display:block; position:absolute; top:2rem; right:1.9rem; width:3rem; height:3rem; margin:auto; background:url(../images/ico_btn_right_arrow_90x90.png) no-repeat 50% 0 / 100%; transform:rotate(90deg);}
.toggle-list-col ul li .reply-box{display:none; margin-top:1.5rem; font-weight:300;}
.toggle-list-col ul li .reply-box p{padding-right:0; font-size:1.3rem;}
.toggle-list-col ul li.active .reply-box{display:block;}
.toggle-list-col ul li.active a:after{top:1.8rem; transform:rotate(-90deg);}
.modal-advertise-count .count-box{margin-top:.4em; font-size:1.4rem; color:#717188;}
.modal-advertise-count .count-box .current-count{font-weight:800; color:#333443;}

.advertise-info-col{width:100%; padding:2.2rem 0; background-color:#f7f7fc;}
.advertise-info-col .info-box{display:-webkit-box; display:flex; -webkit-box-align:center; align-items:center; -webkit-box-pack: justify; justify-content:space-between; padding:0 1.6rem;}
.advertise-info-col dl{flex:1; width:44%; padding:2.1rem 2rem; background-color:#fff; border-radius:1.2rem; box-shadow: .1rem .1rem 2.7rem 0 rgba(0, 0, 0, .04);}
.advertise-info-col dl + dl{margin-left:1.3rem;}
.advertise-info-col dl dt{font-size:1.3rem;}
.advertise-info-col dl dd{margin-top:5.5rem; font-size:1.1rem; line-height:1.8rem; color:#a0a0b6; text-align:right;}
.advertise-info-col dl dd strong{display:block; font-weight:800; font-size:1.6rem; color:#000;}

/* .live-content-box{padding-bottom:6rem;} */
.live-content-box .live-content-thumb{height:21rem; background-image:url(https://mobiinsidecontent.s3.ap-northeast-2.amazonaws.com/kr/wp-content/uploads/2019/11/01162420/5.jpeg); background-repeat:no-repeat; background-size:cover;}
.live-content-box .live-content-thumb img{height:100%;}
.live-content-box .thumb-flex-form{padding:1.7rem 2rem 2.4rem 2rem;}
.live-content-box .thumb-flex-form .thumb-item{width:3.8rem; height:3.8rem;}
.live-content-box .thumb-flex-form .thumb-info{margin-left:.5rem;}
.live-content-box .thumb-flex-form .thumb-info strong{font-size:1.3rem; line-height:1.55;}

.list-col .inner-col{max-width:100%;}
.list-col .list-content-box ul{max-width:750px; margin:0 auto;}
.list-col .list-content-box ul li{position:relative; border-bottom:1px solid #e5e5e5;}
.list-col .list-content-box ul li a{display:block; padding:2.6rem 2.5rem; color:#000;}
.list-col .list-content-box p{font-size:1.4rem;}
.list-col .list-content-box p > span{display:block; padding-right:4rem; font-weight:700;}
.list-col .list-content-box p > em{display:block; margin-top:1.3rem; font-size:1.1rem; color:#a0a0b6;}
.list-col .list-content-box li:after{content:''; display:block; position:absolute; top:0; right:1.9rem; bottom:0; width:3rem; height:3rem; margin:auto; background:url(../images/ico_btn_right_arrow_90x90.png) no-repeat 50% 0 / 100%;}
.list-col .list-content-box li.new-notice:after{content:'N'; right:2.2rem; width:2.4rem; height:2.4rem; font-size:1.2rem; line-height:2.2; color:#fff; background:#ff5647; border-radius:50%; text-align:center;}
.list-col .notice .important-notice{position:relative; background-color:#fff; z-index:1;}
.list-col .important-notice.fixed{position:fixed; top:5.3rem; width:100%; margin:auto;}
.list-col .important-notice span:before{content:'[고정]'; display:inline-block; margin-right:.2em;}
.list-col .tab-list-box ul{display:-webkit-box; display:flex; width:100%; overflow:hidden;}
.list-col .tab-list-box ul li{-webkit-box-flex:1; flex:1; -webkit-box-pack: justify; justify-content:space-between; background-color:#f7f7fc;}
.list-col .tab-list-box ul li a{display:block; width:100%; padding:1.35rem 0; font-weight:700; font-size:1.3rem; color:#a0a0b6; text-align:center;}
.list-col .tab-list-box ul li.active a{font-weight:800; color:#000; background-color:#fff;}
.list-col .tab-content-box .tab-content{display:none;}
.list-col .tab-content-box .tab-content.active{display:block;}
.list-col .btn-more{display:block; position:relative; width:31rem; margin:2.35rem auto; padding:1.6rem 0; font-weight:700; font-size:1.3rem; color:#a0a0b6; background-color:#fff; border:1px solid #cfcfda;}
.list-col .btn-more:before{content:''; position:absolute; top:0; bottom:0; left:50%; width:1.4rem; height:1.4rem; margin:auto; background:url(../images/ico_btn_plus_42x42.png) no-repeat 50% 0 / 100%; transform:translateX(-3.7rem);}
.list-detail-col dt{padding:2.6rem 2.5rem; font-weight:700; font-size:1.9rem; border-bottom:1px solid #e5e5e5;}
.list-detail-col dt span{display:block; margin-bottom:1.1rem; font-weight:400; font-size:1.1rem; color:#a0a0b6;}
.list-detail-col dt strong{display:block;}
.list-detail-col dd{padding:3rem 2.5rem; font-size:1.3rem;}
.list-detail-col dd pre{line-height:2rem; word-break:keep-all; white-space:pre-wrap;}
.list-detail-col dd img + pre{margin-top:2.4rem;}

.friend-col .code-box{padding:0 2.5rem; font-size:2.4rem; color:#000;}
.friend-col .code-title{display:-webkit-box; display:flex; -webkit-box-align:center; align-items:center; width:100%; margin-bottom:1.1rem; padding:3.3rem 2.5rem 0;}
.friend-col .code-title p{-webkit-box-flex:1; flex:1; font-weight:300; font-size:1.2rem;}
.friend-col .code-title ul{flex:0 0 auto;}
.friend-col .code-title ul li{display:inline-block;}
.friend-col .code-title ul li a{display:block;}
.friend-col .code-title .ico-btn-copy{width:2.8rem; height:3.4rem; background:url(../images/ico_copy_42x51.png) no-repeat 50% 50% / 1.4rem;}
.friend-col .code-title .ico-btn-share{width:3.2rem; height:3.4rem; background:url(../images/ico_share_48x51.png) no-repeat 50% 50% / 1.6rem;}
.friend-col .code-box .korean-code{display:block;}
.friend-col .code-box .korean-code + .default-code{margin-top:1rem; color:#717188}
.friend-col .code-box .korean-code + .default-code:after{content:')'; display:inline-block;}
.friend-col .code-box .korean-code + .default-code:before{content:'('; display:inline-block;}
.friend-col .change-code{display:-webkit-box; display:flex; -webkit-box-align:center; align-items:center; margin:0 2.5rem; border-bottom:1px solid #e5e5e5;}
.friend-col .change-code .code-input-box{flex:1; font-size:1.4rem;}
.friend-col .change-code .code-input-box input[type="text"]{width:100%; padding:1rem 0; border:none; outline:none;}
.friend-col .change-code button{flex:0 0 auto; padding:1.5rem 0 1.1rem 2rem; font-size:1rem; color:#000;}
.friend-col .change-code button.disabled{color:#b7b7c8;}
.fixed-btn-col.code-btn{position:absolute; bottom:0;} 

.honeytube-guide-col{width:100%;}
.honeytube-guide-col .logo{display:inline-block; width:5.2rem; height:2rem; padding:1rem; background:url(../images/logo_honeytube_159x66.png) 50% 50% / 5.2rem 2rem no-repeat; image-rendering:-webkit-optimize-contrast; image-rendering:-ms-optimize-contrast;}
.honeytube-guide-col .logo span{display:block; text-indent:-9999rem;}  
.honeytube-guide-col .guide-list{position:relative; padding:3.3rem 2.5rem 7rem; background-color:#f7f7fc; overflow:hidden;}
.honeytube-guide-col .guide-list:after{content:''; position:absolute; top:7.6rem; right:-5.5rem; width:17.9rem; height:19rem; background:url(../images/ico_guide_coin.png) no-repeat 0 0 / 17.9rem 19rem;}
.honeytube-guide-col .guide-title{margin-top:4rem; font-size:2.2rem; line-height:1.4;}
.honeytube-guide-col .guide-title strong{display:block; font-weight:800;}
.honeytube-guide-col .guide-title span{display:block; margin-top:1rem; font-size:1.5rem;}
.honeytube-guide-col ul{margin-top:9.5rem;}
.honeytube-guide-col ul li + li{margin-top:5rem;}
.honeytube-guide-col ul li p{font-size:1.3rem; line-height:1.5;}
.honeytube-guide-col ul li p + p{margin-top:1.2rem; word-break:keep-all;}
.honeytube-guide-col ul li p > strong{font-weight:800; font-size:1.5rem;}
.honeytube-guide-col ul li p > strong:before{content:'Q.'; display:inline-block; margin-right:.3rem;}
.honeytube-guide-col .guide-txt{padding:6.2rem 2.5rem 7rem; line-height:1.7;}
.honeytube-guide-col .guide-txt p{font-size:1.5rem;}
.honeytube-guide-col .guide-txt p + p{margin-top:2.6rem;}
.honeytube-guide-col .guide-txt p > strong, .honeytube-guide-col .guide-txt p > em{font-weight:800;}

.public-col{font-size:1.6rem; text-align:center;}
.public-col p{width:90%; margin:15rem auto 20rem; padding:10rem 0 0; color:#717188; line-height:1.5;}
.public-col button{width:86%; padding:2rem 0; font-size:1.4rem; color:#fff; background-color:#3B3B4D;}
.public-col .item-01{background:url(../images/ico_404_239x134.png) no-repeat 54% 2.5rem / 12rem;}
.public-col .item-02{background:url(../images/ico_500_239x134.png) no-repeat 54% 2.5rem / 12rem;}


@media screen and (min-width: 750px){
	/* .slide-col .inner-col{max-width:100%; padding-left:0;} */
  .ranking-col .ranking-slide{padding-top:2.4rem;}
  /* .advertise-recommend-col .swiper-wrapper{margin-left:-15.5rem;} */
  .advertise-recommend-col .slide-box{padding:0;}
  .ranking-col .slide-box{padding-right:0;}
  .advertise-input-col .inner-col{padding:0 1.6rem;}
  .advertise-btn-col{margin-top:1.7rem;}
  .detail-content-box .detail-slide-area{height:auto;}
  .detail-content-box .detail-slide-area img{width:100%; height:auto;}
}

